zz<html xmlns:th="http://www.thymeleaf.org" xmlns:ces="http://www.w3.org/1999/xhtml">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav class="navbar-fixed" th:fragment="navigation(activeTab)">

    <div class="container">

        <!-- ==========  Top navigation ========== -->

        <div class="navigation navigation-top clearfix">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                <li><a href="javascript:void(0);" class="open-search"><i class="icon icon-magnifier"></i></a></li>
                <li><a href="/cart"><i class="icon icon-cart"></i></a></li>
                <li><a sec:authorize="isAnonymous()" href="javascript:void(0);" class="open-login"><i class="icon icon-user"></i></a></li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/user"><span>Профиль</span></a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}"><span>Выйти</span></a>
                </li>
            </ul>
        </div> <!--/navigation-top-->

        <!-- ==========  Main navigation ========== -->

        <div class="navigation navigation-main">

            <!-- Setup your logo here-->

            <a href="/index" class="logo"><img src="../../assets/images/logo.png" alt="" /></a>

            <!-- Mobile toggle menu -->

            <a href="/index" class="open-menu"><i class="icon icon-menu"></i></a>

            <!-- Convertible menu (mobile/desktop)-->

            <div class="floating-menu">

                <!-- Mobile toggle menu trigger-->

                <div class="close-menu-wrapper">
                    <span class="close-menu"><i class="icon icon-cross"></i></span>
                </div>

                <ul>
                    <li><a href="/index">Главная</a></li>


                    <li><a href="/product/product-list">Товары</a></li>

                    <li><a href="/cart">Корзина</a></li>

                    <li><a href="/about">О нас</a></li>

                    <li sec:authorize="hasRole('ADMIN')">
                        <a href="/admin">Админка</a>
                    </li>
                </ul>
            </div> <!--/floating-menu-->
        </div> <!--/navigation-main-->

        <!-- ==========  Search wrapper ========== -->

        <div class="search-wrapper">

            <!-- Search form -->
            <form th:action="@{/product/seacrh}" method="POST">
                <input th:name="word" type="text" class="form-control" placeholder="Поиск..." />
                <button class="btn btn-main btn-search">Найти</button>
            </form>
        </div>

        <!-- ==========  Login wrapper ========== -->
        <div class="login-wrapper">
            <form th:action="@{/authenticateTheUser}" method="POST">
                <div class="h4">Войти</div>
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Логин">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Пароль">
                </div>
                <div class="form-group">
                    <a href="/registration" class="open-popup">Создать аккаунт</a>
                </div>
                <button type="submit" class="btn btn-block btn-main">Войти</button>
            </form>
        </div>
    </div> <!--/container-->
</nav>